In [4]:
import pandas as pd

data = pd.read_fwf('fuel.txt',header=None)

In [5]:
data.head()

        0
0  133260
1  119757
2   96870
3  121480
4  117382

# Part One

In [79]:
x = 0

for row in range(0,len(data)):
    x = x+(int(data.iloc[row]/3)-2)

print(x)

3506577

# Part Two

In [9]:
x = 9
y = 0

for row in range(0,len(data)):
    h = int((data.iloc[row]))
    
    while True:
        if x > h:
            break
        h = int(h/3-2)
        y += h
        
y

5256960